@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>52ABP学校</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>欢迎来到52ABP学校</h2>
            <p>使用做一个简单学校管理系统</p>
        </div>
        <div  class="col-md-4">
            <h2>从0开始</h2>
            <p> 一步一步完成</p>
        </div>
        <div class="col-md-4">
            <h2>如何下载</h2>
            <p>Github地址:<a href="https://github.com/52ABP/LTM.School" target="_blank">点击</a> </p>
        </div>
    </div>
</div>

